<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Mywebsite</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="col-lg-8">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">HOME</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'post-search' %}">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Add_category' %}"
                >Add category</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Add_book' %}">Add book</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'category_list' %}"
                >Categories</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Issue_book' %}">ISSUE</a>
            </li>

            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'available_book' %}"
                >Available Book</a
              >
            </li>
          </ul>
        </div>
        <p>hello world</p>

        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <span class="navbar-text">Logged in as| {{user.username}}</span>

            <li class="nav-item">
              <a class="nav-link" href="/login">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/signup">SignUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/create-post">Post</a>
            </li>
            {% endif %}
          </ul>
        </div>

        <div>
          <!-- <ul class="navbar-nav">
            {% if AbstractUser.is_authenticated %}

            <span class="navbar-text">Logged in as| {{user.username}}</span>
            
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/signup">SignUp</a>
            </li>
          </ul> -->
        </div>
      </div>
    </nav>
    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
