{% extends 'library/base.html' %} {% block title %}Add Category{% endblock %}
{% load crispy_forms_tags %} 
{% block content %}


<h2>Book Categories</h2>
 {% for book in all %}
  <p> {{ book.name }} - {{book.description }} </p>

 {% endfor %}
{% endblock %}
