{% extends 'library/base.html' %} {% block title %}Create a post{% endblock %}
{% load crispy_forms_tags %} {% block content %}
<form method="post">
  {% csrf_token %}{{form|crispy}}
  
  <button type="submit" class="btn btn-success">POST</button>
</form>
{% endblock %}
