{% extends 'library/base.html' %} {% block title %}Home Page{% endblock %}
{%block content %}
{% load static %}

<h8> CONTACT US AT:0706341377 EMAIL: carlosmaknot@45gmail.com </h8>

<p>
  With great pleasure ,I would love to welcome everyone who ha decided to use
  our system
</p>
<p>Status:Nothing added</p>

<body id="home" style="  background-image: url('{% static 'library/images/background.gif'%}'); background-repeat: no-repeat; background-size: 100%">
  
</body>
{% endblock %}
