{% extends 'library/base.html' %} {% block title %}Search{% endblock %} {% load
crispy_forms_tags %} {% block content %}
<form method="POST">
  {% csrf_token %} {{form.as_p}}

  <button type="submit" class="btn btn-primary my-1" value="Search">
    SEARCH
  </button>
</form>

{% for post in results %} {{post.title |safe |truncatewords:50 }} {% endfor %}
{% endblock %}
