{% extends 'library/base.html' %} {% block title %}Login{% endblock %}
{% load crispy_forms_tags %} {% block content %}
<form method="post">
  {% csrf_token %}{{form|crispy}}
  <p>Don't have an Account? Create one<a href="/signup">Click Here</a>!</p>
  <button type="submit" class="btn btn-success">Login</button>
</form>
{% endblock %}
