{% extends 'library/base.html' %} {% block title%}SignUp{% endblock %} 
{% load crispy_forms_tags %} {% block content %}
<form method="post">
  {% csrf_token %}{{form|crispy}}
  <p>Have an Account? Login<a href="/login">Click Here</a>!</p>
  <button type="submit" class="btn btn-success">REGISTER</button>
</form>
{% endblock %}
